@page 
@model IndexModel
@using razorEntity.Models
@{
    ViewData["Title"] = "Home page";
    var listBlog = ViewData["posts"] as List<Article>;
}
<h1>@ViewData["Title"]</h1>
<a asp-page="/Create"><button type="button" class="btn btn-success">CREAT</button><br>
</a> <br>
  <partial name="PagingModel" model="@Model.paging"></partial>

<div class="list-group">
   <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Created</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
  @{
    foreach(var item in @listBlog)
    {
      <tbody>
        <tr>
          <td>@item.Title</td>
          <td>@item.Created</td>
          <td><div class="btn-group" role="group" aria-label="Basic outlined example">
            
            <p><a asp-page="/View" asp-route-id="@item.Id" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-3">View </a></p>
            <p><a asp-page="/Edit" asp-route-id="@item.Id" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-3"> Edit </a></p>
            <p><a asp-page="/Delete" asp-route-id="@item.Id" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-3">Delete</a> </p> 
              </div>
          </td>
        </tr>
      </tbody>
    }
  }
  </table>

</div>